:root {
    --pmry-color: #252932;
    --hglight-color: #f36c34;
    --bg-color: rgb(231, 231, 231);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6rem;
    background-color: var(--pmry-color);
    color: var(--bg-color);
}

header > * {
    width: 250px;
}

nav {
    display: flex;
    justify-content: center;
}

nav > ul {
    display: flex;
    list-style: none;
}
#nav1{
    margin: 10px;
    background-color: #252932;
    justify-content: center;

}

.formLink {
    text-decoration: none;
    padding: 10px;
    color: var(--bg-color);
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    transition: .3s;
}

.formLink:hover {
    color: var(--hglight-color);
}

.imgContainer {
    display: flex;
    justify-content: center;
}

form:has(input.filter) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

.filter {
    position: relative;
    height: 30px;
    padding-left: 15px;
    padding-right: 30px;
    border: none;
    border-radius: 20px;
    transition: .3s;
}

.filter:focus {
    outline: none;
}

ion-icon[name="search"] {
    position: absolute;
    right: .7rem;
    width: 16px;
    color: var(--pmry-color);
    transition: .3s;
}

.filter:focus + ion-icon[name="search"] {
    color: var(--hglight-color);
}
